type project
owners
    Martin J. Lenardon
authors 
    Martin J. Lenardon
projectUrl
    http://github.com/L2Analytics/Modeling
iconUrl
    https://raw.githubusercontent.com/L2Analytics/Modeling/master/docs/files/img/logo.png
licenseUrl
    http://github.com/L2Analytics/Modeling/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    
summary
    Modeling toolkit
description
    Modeling toolkit


